@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

html body .header {
  background-color: #000;
  height: 120px;
}
html body .header .header-inside {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .header .header-inside .logo {
  width: 213px;
  height: 40px;
}
html body .header .header-inside .nav {
  width: 525px;
}
html body .header .header-inside .nav .nav-inside {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
html body .header .header-inside .nav .nav-inside .nav-element a {
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-decoration: none;
}
html body .header .header-inside .nav .nav-inside .nav-element a:hover {
  color: #9166F0;
  text-decoration: underline;
}
html body .header .header-inside .contacts {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .header .header-inside .contacts .socials {
  height: 46px;
  width: 120px;
  position: relative;
}
html body .header .header-inside .contacts .socials #logo-vk {
  position: absolute;
  z-index: 3;
}
html body .header .header-inside .contacts .socials #logo-yt {
  position: absolute;
  left: 25%;
  z-index: 2;
}
html body .header .header-inside .contacts .socials #logo-tg {
  position: absolute;
  left: 50%;
  z-index: 1;
}
html body .header .header-inside .contacts .socials .logo-socials-img {
  width: 46px;
  height: 46px;
}
html body .header .header-inside .contacts .number a {
  color: #FFF;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-decoration: none;
}
html body .header .header-inside .contacts .number a:hover {
  color: #9166F0;
  text-decoration: underline;
}
html body .main .hero {
  overflow: hidden;
  height: 900px;
  background-color: #000;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
html body .main .hero .hero-inside {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
html body .main .hero .hero-inside .hero-heading {
  width: 540px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body .main .hero .hero-inside .hero-heading h1 {
  width: 600px;
  height: 120px;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 65px */
  text-transform: uppercase;
}
html body .main .hero .hero-inside .hero-heading p {
  width: 470px;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
html body .main .hero .hero-inside .hero-heading .hero-buttons {
  display: flex;
  justify-content: space-between;
}
html body .main .hero .hero-inside .hero-heading .hero-buttons .hero-button {
  width: 260px;
  height: 70px;
  padding: 20px 34px;
  justify-content: center;
  align-items: center;
  border: 1px #55349b solid;
  border-radius: 5px;
  background: linear-gradient(276deg, #210C51 8.77%, #9166F0 85.8%);
  background-size: 0;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  color: #9166F0;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  filter: drop-shadow(3px 5px 10px rgba(145, 102, 240, 0.25));
}
html body .main .hero .hero-inside .hero-heading .hero-buttons .hero-button:hover {
  border: 1px #9166F0 solid;
  background: linear-gradient(276deg, #210C51 8.77%, #9166F0 85.8%);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .hero .hero-inside .hero-heading .hero-buttons #discuss-project-button {
  border: 1px #55349b solid;
  background: linear-gradient(276deg, #210C51 8.77%, #9166F0 85.8%);
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  transition: 0.5s;
}
html body .main .hero .hero-inside .hero-heading .hero-buttons #discuss-project-button:hover {
  border: 1px #55349b solid;
  background-color: rgba(255, 255, 255, 0);
  background-position: 260px;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .hero .hero-laptop {
  position: absolute;
  right: -75px;
}
html body .main .hero .hero-background1 {
  width: 4000px;
  height: 600px;
  position: absolute;
  background: linear-gradient(267deg, #000 -3.62%, #010631 103.62%);
  z-index: -5;
  top: -100px;
  left: -1000px;
  transform: rotate(-10.219deg);
}
html body .main .hero .hero-background2 {
  width: 4000px;
  height: 600px;
  position: absolute;
  background: linear-gradient(268deg, rgba(201, 69, 247, 0.2) 20.33%, rgba(69, 129, 247, 0) 89.01%);
  z-index: -4;
  top: 300px;
  left: -1000px;
  transform: rotate(-12.219deg);
}
html body .main .hero .hero-background3 {
  width: 4000px;
  height: 600px;
  position: absolute;
  background: linear-gradient(272deg, rgba(0, 2, 17, 0.7450980392) 3.69%, rgba(49, 1, 86, 0.7529411765) 116.09%);
  z-index: -3;
  top: 600px;
  left: -1000px;
  transform: rotate(5.219deg);
}
html body .main .hero #circle1 {
  position: absolute;
  bottom: -75px;
  left: 800px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: linear-gradient(176deg, #546CC1 19.68%, #8798D2 96.85%);
  box-shadow: 0px 4px 70px 0px rgba(155, 215, 195, 0.8);
  animation-name: circle-anim;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 3s;
}
html body .main .hero #circle2 {
  position: absolute;
  bottom: -130px;
  left: 1200px;
  width: 59px;
  height: 59px;
  border-radius: 100%;
  background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #C2A5D1 0%, #B590CD 16.12%, #9A66C5 42.44%, #583C99 100%);
  filter: blur(2.5px);
  animation-name: circle-anim;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-delay: 1s;
}
html body .main .hero #circle3 {
  position: absolute;
  bottom: 80px;
  right: -70px;
  z-index: -1;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: linear-gradient(176deg, #8EA2E7 19.68%, #BA87D2 96.85%);
  box-shadow: 0px 4px 70px 0px rgba(155, 215, 195, 0.8);
  animation-name: circle-anim;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 5s;
}
html body .main .hero #circle4 {
  position: absolute;
  top: 100px;
  right: -200px;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #A5C1D1 0%, #909ACD 16.12%, #6675C5 42.44%, #3C6199 100%);
  filter: blur(3px);
  animation-name: circle-anim;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0s;
}
html body .main .hero #circle5 {
  position: absolute;
  top: -100px;
  right: 150px;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #A5C1D1 0%, #909ACD 16.12%, #6675C5 42.44%, #3C6199 100%);
  filter: blur(3px);
  animation-name: circle-anim;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-delay: 8s;
}
html body .main .hero #circle6 {
  position: absolute;
  top: -50px;
  right: 510px;
  width: 79px;
  height: 79px;
  border-radius: 100%;
  background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #C2A5D1 0%, #B590CD 16.12%, #9A66C5 42.44%, #583C99 100%);
  filter: blur(12.5px);
  animation-name: circle-anim;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 2s;
}
html body .main .hero #circle7 {
  position: absolute;
  top: 200px;
  left: -130px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #C2A5D1 0%, #B590CD 16.12%, #9A66C5 42.44%, #583C99 100%);
  filter: blur(2.5px);
  animation-name: circle-anim;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-delay: 1s;
}
html body .main .hero #circle8 {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 101px;
  height: 101px;
  border-radius: 100%;
  background: radial-gradient(#546CC1, #aebbe6);
  filter: blur(20px);
  animation-name: circle-anim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 9s;
}
html body .main .ticker {
  position: relative;
  top: 200px;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}
html body .main .ticker .ticker-wrapper {
  display: flex;
}
html body .main .ticker .ticker-wrapper .ticker-element {
  color: #635D6E;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  letter-spacing: 0.48px;
  z-index: 5;
  white-space: nowrap;
  animation: ticker 15s linear infinite;
}
html body .main .services {
  height: 1250px;
  background-color: #FFFFFF;
}
html body .main .services .services-inside {
  height: 1000px;
  display: flex;
  flex-direction: column;
}
html body .main .services .services-inside h2 {
  color: #1A1A1A;
  font-family: Ubuntu;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 65px */
  text-transform: uppercase;
  text-align: center;
  margin-top: 160px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
html body .main .services .services-inside .grid-container {
  margin-top: 85px;
  display: grid;
  grid-template-columns: 410px 410px 410px;
  grid-template-rows: 420px 420px;
  grid-column-gap: 30px;
  grid-row-gap: 35px;
}
html body .main .services .services-inside .grid-container .service-card {
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.25s;
}
html body .main .services .services-inside .grid-container .service-card img {
  position: absolute;
  right: 30px;
  top: 30px;
}
html body .main .services .services-inside .grid-container .service-card h3 {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
html body .main .services .services-inside .grid-container .service-card p {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 25px;
  flex: auto;
}
html body .main .services .services-inside .grid-container .service-card .more-div {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body .main .services .services-inside .grid-container .service-card .more-div a {
  margin-bottom: 15px;
  color: #9166F0;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-decoration: none;
}
html body .main .services .services-inside .grid-container .service-card button {
  width: 330px;
  height: 70px;
  padding: 20px 34px 21px 34px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(276deg, #9166F0 8.77%, #633BBC 85.8%);
  border: 0;
  transition: 0.5s;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .services .services-inside .grid-container .service-card button:hover {
  background-color: rgba(255, 255, 255, 0);
  background-position: 330px;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .services .services-inside .grid-container .service-card:hover {
  transform: translateY(-5px);
}
html body .main .services .services-inside .grid-container #service-card-4 h3 {
  width: 358px;
}
html body .main .we-offer {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
html body .main .we-offer .we-offer-inside {
  height: 650px;
  display: flex;
  justify-content: space-between;
}
html body .main .we-offer .we-offer-inside h2 {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  text-transform: uppercase;
}
html body .main .we-offer .we-offer-inside .we-offer-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body .main .we-offer .we-offer-inside .we-offer-aside .we-offer-list {
  width: 50%;
  list-style: none;
}
html body .main .we-offer .we-offer-inside .we-offer-aside .we-offer-list .we-offer-list-element {
  height: 100px;
  width: 400px;
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
html body .main .we-offer .we-offer-inside .we-offer-aside .we-offer-list .we-offer-list-element hr {
  background: #D9D9D9;
  width: 560px;
  height: 2px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  transition: 0.5s;
}
html body .main .we-offer .we-offer-inside .we-offer-aside .we-offer-list .we-offer-list-element:hover {
  color: #9166F0;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .we-offer .we-offer-inside .we-offer-aside .we-offer-list .we-offer-list-element:hover hr {
  background-color: #9166F0 !important;
  width: 600px;
  height: 2px;
}
html body .main .we-offer .we-offer-inside .we-offer-image {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
html body .main .we-offer .we-offer-inside .we-offer-image img {
  width: 650px;
}
html body .main .we-offer .we-offer-inside .we-offer-image .ring {
  position: absolute;
  top: 0;
  height: 650px;
  width: 650px;
  border-radius: 100%;
  border: 1px solid #D9D9D9;
}
html body .main .cases {
  height: 1800px;
}
html body .main .cases .cases-inside {
  height: 1710px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
html body .main .cases .cases-inside .cases-header h2 {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 65px */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
html body .main .cases .cases-inside .cases-header .cases-header-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
html body .main .cases .cases-inside .cases-header .cases-header-list li {
  width: 210px;
  height: 56px;
  margin: 0 10px;
}
html body .main .cases .cases-inside .cases-header .cases-header-list li button {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  width: 210px;
  height: 56px;
  text-decoration: none;
  color: #BDBDBD;
  background-color: transparent;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}
html body .main .cases .cases-inside .cases-header .cases-header-list li button span {
  font-family: "Inter", sans-serif;
}
html body .main .cases .cases-inside .cases-header .cases-header-list li button:hover {
  color: #9166F0;
  border: 1px solid #9166F0;
}
html body .main .cases .cases-inside .cases-header .cases-header-list li button:focus {
  color: #fff;
  background-color: #9166F0;
  border: 1px solid #9166F0;
}
html body .main .cases .cases-inside .grid-container {
  display: grid;
  grid-template-columns: 630px 630px;
  grid-template-rows: 430px 430px 430px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
html body .main .cases .cases-inside .grid-container .cases-card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 60px 0px rgba(22, 38, 70, 0.1);
  display: flex;
  position: relative;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-image {
  width: 220px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: url("/images/back-card.svg");
}
html body .main .cases .cases-inside .grid-container .cases-card .card-image .logo {
  width: 118px;
  height: 22px;
  position: absolute;
  top: 140px;
  z-index: 5;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-image h3 {
  color: #FFF;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 136%; /* 24.48px */
  text-transform: uppercase;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-info {
  width: 410px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-info h3 {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-info h4 {
  color: #666;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-info p {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-info .card-link {
  display: flex;
  align-items: center;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-info .card-link .card-link-icon {
  width: 54px;
  height: 54px;
  background-color: #9166F0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-info .card-link .card-link-icon img {
  transition: 0.5s;
  width: 28px;
  height: 28px;
}
html body .main .cases .cases-inside .grid-container .cases-card .card-info .card-link a {
  color: #9166F0;
  margin-left: 22px;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-decoration: none;
}
html body .main .cases .cases-inside .grid-container .cases-card:hover .card-link img {
  transform: rotate(-90deg);
}
html body .main .cases .cases-inside .show-more-button {
  width: 330px;
  height: 70px;
  padding: 20px 34px 21px 34px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(276deg, #35187a 8.77%, #9166F0 85.8%);
  border: 0;
  transition: 0.5s;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .cases .cases-inside .show-more-button:hover {
  background-color: rgba(255, 255, 255, 0);
  background-position: 330px;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .statistics {
  height: 400px;
}
html body .main .statistics .statistics-inside {
  height: 330px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
}
html body .main .statistics .statistics-inside .statistics-header h2 {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  text-transform: uppercase;
  text-align: center;
}
html body .main .statistics .statistics-inside .grid-container {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: 204px;
  grid-column-gap: 93px;
}
html body .main .statistics .statistics-inside .grid-container .statistics-grid-element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html body .main .statistics .statistics-inside .grid-container .statistics-grid-element h3 {
  width: 270px;
  height: 204px;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 170px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 221px */
  letter-spacing: -17px;
  text-transform: uppercase;
  background: linear-gradient(276deg, #9166F0 8.77%, #210C51 85.8%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body .main .statistics .statistics-inside .grid-container .statistics-grid-element h3 span {
  font-family: Ubuntu;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 91px */
  letter-spacing: -7px;
  text-transform: uppercase;
  background: linear-gradient(276deg, #9166F0 8.77%, #210C51 85.8%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  padding-bottom: 50px;
}
html body .main .statistics .statistics-inside .grid-container .statistics-grid-element p {
  color: #1A1A1A;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
html body .main .tutorials {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
html body .main .tutorials .tutorials-inside {
  height: 616px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html body .main .tutorials .tutorials-inside .tutorials-header h2 {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  text-transform: uppercase;
  text-align: center;
}
html body .main .tutorials .tutorials-inside .grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 240px;
  grid-column-gap: 30px;
  padding-top: 55px;
}
html body .main .tutorials .tutorials-inside .grid-container .tutorials-grid-element {
  width: 300px;
  height: 240px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 10px 60px 0px rgba(28, 45, 70, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  transition: 0.25s;
}
html body .main .tutorials .tutorials-inside .grid-container .tutorials-grid-element img {
  position: absolute;
  top: -55px;
  left: 20px;
}
html body .main .tutorials .tutorials-inside .grid-container .tutorials-grid-element h3 {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-top: 105px;
}
html body .main .tutorials .tutorials-inside .grid-container .tutorials-grid-element button {
  width: 260px;
  height: 50px;
  margin-top: 23px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(276deg, #9166F0 8.77%, #633BBC 85.8%);
  border: 0;
  transition: 0.5s;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .tutorials .tutorials-inside .grid-container .tutorials-grid-element button:hover {
  background-color: rgba(255, 255, 255, 0);
  background-position: 260px;
}
html body .main .tutorials .tutorials-inside .grid-container .tutorials-grid-element:hover {
  transform: translateY(-5px);
}
html body .main .tutorials .tutorials-inside .show-more-button {
  width: 330px;
  height: 70px;
  padding: 20px 34px 21px 34px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(276deg, #35187a 8.77%, #9166F0 85.8%);
  border: 0;
  transition: 0.5s;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .tutorials .tutorials-inside .show-more-button:hover {
  background-position: 330px;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .discuss {
  height: 650px;
}
html body .main .discuss .discuss-inside {
  height: 500px;
}
html body .main .discuss .discuss-inside .discuss-header {
  margin-top: 60px;
}
html body .main .discuss .discuss-inside .discuss-header h2 {
  color: #1A1A1A;
  font-family: Ubuntu, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  text-transform: uppercase;
  text-align: center;
}
html body .main .discuss .discuss-inside .form {
  height: 370px;
  margin-top: 65px;
  display: flex;
  justify-content: space-evenly;
}
html body .main .discuss .discuss-inside .form .form-inside {
  display: grid;
  grid-template-rows: 190px 70px 70px;
  grid-template-columns: 320px 320px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
html body .main .discuss .discuss-inside .form .form-inside .task {
  border: 1px solid #9166f0;
  border-radius: 10px;
  height: 190px;
  grid-row: 1;
  grid-column: 1/3;
  font-family: Ubunta, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #5b5b5b;
  padding: 20px;
  resize: none;
}
html body .main .discuss .discuss-inside .form .form-inside .task:focus {
  outline-color: #9166f0;
}
html body .main .discuss .discuss-inside .form .form-inside input {
  border: 1px solid #9166f0;
  border-radius: 10px;
  width: 320px;
  height: 70px;
  font-family: Ubunta, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #5b5b5b;
  padding: 20px;
}
html body .main .discuss .discuss-inside .form .form-inside input:focus {
  outline-color: #9166f0;
}
html body .main .discuss .discuss-inside .admin-info {
  width: 330px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body .main .discuss .discuss-inside .admin-info .admin {
  display: flex;
  justify-content: space-between;
}
html body .main .discuss .discuss-inside .admin-info .admin img {
  border-radius: 10px;
}
html body .main .discuss .discuss-inside .admin-info .admin h3.admin-name {
  font-family: Ubunta, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #1a1a1a;
  padding-right: 10px;
}
html body .main .discuss .discuss-inside .admin-info .admin p.title {
  font-family: Ubunta, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #1a1a1a;
}
html body .main .discuss .discuss-inside .admin-info .admin-contacts h3 {
  font-family: Ubunta, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #191919;
  margin-top: 7px;
}
html body .main .discuss .discuss-inside .admin-info .admin-contacts p {
  font-family: Ubunta, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1a1a1a;
}
html body .main .discuss .discuss-inside .admin-info .discuss-project-button {
  border-radius: 5px;
  padding: 20px 34px 21px 34px;
  width: 330px;
  height: 70px;
  border: 0;
  background: linear-gradient(276deg, #210C51 8.77%, #9166F0 85.8%);
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  transition: 0.5s;
  filter: drop-shadow(3px 5px 10px rgba(145, 102, 240, 0.25));
}
html body .main .discuss .discuss-inside .admin-info .discuss-project-button:hover {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  background-position: 330px;
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
html body .main .discuss .discuss-inside .admin-info .policy-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: #656565;
}
html body .main .discuss .discuss-inside .admin-info .policy-agreement a {
  color: #9166F0;
}
html body .contact {
  height: 143px;
  background-color: #010423;
}
html body .contact .contact-inside {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .contact .contact-inside .logo {
  width: 213px;
  height: 40px;
}
html body .contact .contact-inside .nav {
  width: 315px;
}
html body .contact .contact-inside .nav .nav-inside {
  width: 315px;
  height: 46px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
html body .contact .contact-inside .nav .nav-inside .nav-element a {
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-decoration: none;
}
html body .contact .contact-inside .nav .nav-inside .nav-element a:hover {
  color: #9166F0;
  text-decoration: underline;
}
html body .contact .contact-inside .contacts {
  height: 100%;
  width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .contact .contact-inside .contacts .socials {
  height: 46px;
  width: 120px;
  position: relative;
}
html body .contact .contact-inside .contacts .socials #logo-vk {
  position: absolute;
  z-index: 3;
}
html body .contact .contact-inside .contacts .socials #logo-yt {
  position: absolute;
  left: 25%;
  z-index: 2;
}
html body .contact .contact-inside .contacts .socials #logo-tg {
  position: absolute;
  left: 50%;
  z-index: 1;
}
html body .contact .contact-inside .contacts .socials .logo-socials-img {
  width: 46px;
  height: 46px;
}
html body .contact .contact-inside .contacts .number {
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #b6b6b6;
}
html body .contact .contact-inside .contacts .number a {
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-decoration: none;
}
html body .contact .contact-inside .contacts .number a:hover {
  color: #9166F0;
  text-decoration: underline;
}
html body .contact .contact-inside .contacts .email {
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #b6b6b6;
}
html body .contact .contact-inside .contacts .email a {
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-decoration: none;
}
html body .contact .contact-inside .contacts .email a:hover {
  color: #9166F0;
  text-decoration: underline;
}
html body .contact hr {
  border-color: rgba(255, 255, 255, 0.2117647059);
  position: relative;
  z-index: 10;
}
html body .footer {
  height: 100px;
  background-color: #010423;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
html body .footer .footer-inside {
  display: flex;
  justify-content: space-between;
}
html body .footer .footer-inside .rights, html body .footer .footer-inside .policies, html body .footer .footer-inside .dev {
  color: #FFF;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-decoration: none;
}
html body .footer .footer-inside .policies, html body .footer .footer-inside span {
  color: #9166f0;
}

.container {
  width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@keyframes ticker {
  from {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes circle-anim {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -5%);
  }
  50% {
    transform: translate(10%, 10%);
  }
  75% {
    transform: translate(0%, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
