@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

html{
    body{   
        .header{
            background-color: #000;
            height: 120px;
            .header-inside{
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo{
                    width: 213px;
                    height: 40px;
                }
                .nav{
                    width: 525px;

                    .nav-inside{
                        list-style: none;
                        display: flex;
                        justify-content: space-between;

                        .nav-element{
                            a{
                                color: #FFF;
                                font-family: Ubuntu, sans-serif;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 130%; 
                                text-decoration: none;
                            }       
                            a:hover{
                                color: #9166F0;
                                text-decoration: underline;
                            }               
                        }
                    }
                }
                .contacts{
                    height: 100%;
                    width: 300px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .socials{
                        height: 46px;
                        width: 120px;
                        position: relative;
                        
                        #logo-vk{
                            position: absolute;
                            z-index: 3;
                            
                        }
                        #logo-yt{
                            position: absolute;
                            left: 25%;
                            z-index: 2;
                        }
                        #logo-tg{
                            position: absolute;
                            left: 50%;
                            z-index: 1;
                        }
                        .logo-socials-img{
                            width: 46px;
                            height: 46px;
                        }
                    }
                    .number{       
                        a{
                            color: #FFF;
                            font-family: Ubuntu;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%;
                            text-decoration: none;
                        }
                        a:hover{
                            color: #9166F0;
                            text-decoration: underline;
                        }  
                    }
                }
            }          
        }
        .main{
            .hero{
                overflow: hidden;
                height: 900px;
                background-color: #000;
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;

                .hero-inside{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    z-index: 10 ;

                    .hero-heading{
                        width: 540px;
                        height: 400px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            width: 600px;
                            height: 120px;
                            color: #FFF;
                            font-family: Ubuntu, sans-serif;
                            font-size: 50px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%; /* 65px */
                            text-transform: uppercase; 
                        }
                        p{
                            width: 470px;
                            color: #FFF;
                            font-family: Ubuntu, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 160%;
                        }
                        .hero-buttons{
                            display: flex;
                            justify-content: space-between;

                            .hero-button{
                                width: 260px;
                                height: 70px;
                                padding: 20px 34px;
                                justify-content: center;
                                align-items: center;
                            
                                border: 1px #55349b solid;
                                border-radius: 5px;
                                background: linear-gradient(276deg, #210C51 8.77%, #9166F0 85.8%);
                                background-size: 0;
                                background-repeat: no-repeat;
                                transition: background-size .5s;
                                color: #9166F0;
                                font-family: Ubuntu, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 130%;
                                    
                            }
                            .hero-button:hover{
                                border: 1px #9166F0 solid;
                                background: linear-gradient(276deg, #210C51 8.77%, #9166F0 85.8%);
                                background-size: 100%;
                                background-repeat: no-repeat;
                                color: #FFF;
                                font-family: Ubuntu, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 130%;
                            }
                            #discuss-project-button{
                                border: 1px #55349b solid;
                                background: linear-gradient(276deg, #210C51 8.77%, #9166F0 85.8% );
                                
                                color: #FFF;
                                font-family: Ubuntu, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 130%;
                                transition: .5s;
                            }
                            #discuss-project-button:hover{
                                border: 1px #55349b solid;
                                background-color: #ffffff00;
                                
                                background-position: 260px;
                                color: #FFF;
                                font-family: Ubuntu, sans-serif;
                                font-size: 18px; 
                                font-style: normal;
                                font-weight: 700;
                                line-height: 130%;
                            }
                        }
                    }
                }
                .hero-laptop{
                    position: absolute;
                    right: -75px;
                }
                .hero-background1{
                    width: 4000px;
                    height: 600px;
                    position: absolute;
                    background: linear-gradient(267deg, #000 -3.62%, #010631 103.62%);
                    z-index: -5;

                    top:-100px;
                    left: -1000px;
                    transform: rotate(-10.219deg);
                }
                .hero-background2{
                    width: 4000px;
                    height: 600px;
                    position: absolute;
                    background: linear-gradient(268deg, rgba(201, 69, 247, 0.20) 20.33%, rgba(69, 129, 247, 0.00) 89.01%);
                    z-index: -4;

                    top: 300px;
                    left: -1000px;
                    transform: rotate(-12.219deg);
                }
                .hero-background3{
                    width: 4000px;
                    height: 600px;
                    position: absolute;
                    background: linear-gradient(272deg, #000211be 3.69%, #310156c0 116.09%);
                    z-index: -3;

                    top: 600px;
                    left: -1000px;
                    transform: rotate(5.219deg);
                }               
                #circle1{
                    position: absolute;
                    bottom: -75px;
                    left: 800px;
                    height: 100px;
                    width: 100px;
                    border-radius: 100%;
                    background: linear-gradient(176deg, #546CC1 19.68%, #8798D2 96.85%);     
                    box-shadow: 0px 4px 70px 0px rgba(155, 215, 195, 0.80);
                    animation-name: circle-anim;
                    animation-duration: 14s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                    animation-delay: 3s;
                }
                #circle2{
                    position: absolute;
                    bottom: -130px;
                    left: 1200px;

                    width: 59px;
                    height: 59px;
                    border-radius: 100%;
                    background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #C2A5D1 0%, #B590CD 16.12%, #9A66C5 42.44%, #583C99 100%);
                    filter: blur(2.5px);
                    animation-name: circle-anim;
                    animation-duration: 21s;
                    animation-iteration-count: infinite;
                    animation-direction: reverse;
                    animation-delay: 1s;
                }
                #circle3{
                    position: absolute;
                    bottom: 80px;
                    right: -70px;
                    z-index: -1;
                    width: 90px;
                    height: 90px;
                    border-radius: 100%;
                    background: linear-gradient(176deg, #8EA2E7 19.68%, #BA87D2 96.85%);
                    box-shadow: 0px 4px 70px 0px rgba(155, 215, 195, 0.80);
                    animation-name: circle-anim;
                    animation-duration: 17s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                    animation-delay: 5s;
                }
                #circle4{
                    position: absolute;
                    top: 100px;
                    right: -200px;
                    width: 46px;
                    height: 46px;
                    border-radius: 100%;
                    background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #A5C1D1 0%, #909ACD 16.12%, #6675C5 42.44%, #3C6199 100%);
                    filter: blur(3px);
                    animation-name: circle-anim;
                    animation-duration: 30s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                    animation-delay: 0s;
                }

                #circle5{
                    position: absolute;
                    top: -100px;
                    right: 150px;

                    width: 38px;
                    height: 38px;
                    border-radius: 100%;
                    background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #A5C1D1 0%, #909ACD 16.12%, #6675C5 42.44%, #3C6199 100%);
                    filter: blur(3px);
                    animation-name: circle-anim;
                    animation-duration: 11s;
                    animation-iteration-count: infinite;
                    animation-direction: reverse;
                    animation-delay: 8s;
                }

                #circle6{
                    position: absolute;
                    top: -50px;
                    right: 510px;

                    width: 79px;
                    height: 79px;
                    border-radius: 100%;
                    background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #C2A5D1 0%, #B590CD 16.12%, #9A66C5 42.44%, #583C99 100%);
                    filter: blur(12.5px);
                    animation-name: circle-anim;
                    animation-duration: 17s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                    animation-delay: 2s;
                }

                #circle7{
                    position: absolute;
                    top: 200px;
                    left: -130px;

                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    background: radial-gradient(102.63% 102.63% at 31.02% 24.87%, #C2A5D1 0%, #B590CD 16.12%, #9A66C5 42.44%, #583C99 100%);
                    filter: blur(2.5px);
                    animation-name: circle-anim;
                    animation-duration: 25s;
                    animation-iteration-count: infinite;
                    animation-direction: reverse;
                    animation-delay: 1s;
                }

                #circle8{
                    position: absolute;
                    top: -200px;
                    left: -200px;

                    width: 101px;
                    height: 101px;
                    border-radius: 100%;
                    background: radial-gradient(#546CC1, #aebbe6);
                    filter: blur(20px);

                    animation-name: circle-anim;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                    animation-delay: 9s;               
                }                       
            }
            .ticker{
                position: relative;
                top: 200px;
                overflow: hidden;
                z-index: 10;
                width: 100%; 

                .ticker-wrapper{
                    display: flex;
                  
                    .ticker-element{
                        color: #635D6E;                
                        font-family: Ubuntu, sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 20.8px */
                        letter-spacing: 0.48px;
                        z-index: 5;
                        white-space: nowrap;
                        animation: ticker 15s linear infinite;
                    }
                }
            }
            .services{
                height: 1250px;
                background-color: #FFFFFF;

                .services-inside{
                    height: 1000px;
                    display: flex;
                    flex-direction: column;
                    

                    h2{
                        color: #1A1A1A;
                        font-family: Ubuntu;
                        font-size: 50px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%; /* 65px */
                        text-transform: uppercase;
                        text-align: center;
                        margin-top: 160px;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                    .grid-container{                    
                        margin-top: 85px;
                        display: grid;
                        grid-template-columns: 410px 410px 410px;
                        grid-template-rows: 420px 420px;
                        grid-column-gap: 30px;
                        grid-row-gap: 35px;

                        .service-card{
                            background-color: #fff;
                            position: relative;
                            border-radius: 10px;
                            padding: 36px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                            transition: transform .1s;

                            img{
                                position: absolute;
                                right: 30px;
                                top: 30px;
                            }
                            h3{
                                color: #1A1A1A;
                                font-family: Ubuntu, sans-serif;
                                font-size: 30px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 110%; 
                            }
                            p{
                                color: #1A1A1A;
                                font-family: Ubuntu, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 160%;
                                margin-top: 25px;
                                flex: auto;
                            }
                            .more-div{
                                height: 80px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                
                                a{
                                    margin-bottom: 15px;
                                    color: #9166F0;
                                    font-family: Ubuntu;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 160%;
                                    text-decoration: none; 
                                }
                            }                    
                            button{
                                width: 330px;
                                height: 70px;
                                padding: 20px 34px 21px 34px;
                                justify-content: center;
                                align-items: center;
                                border-radius: 5px;
                                background: linear-gradient(276deg, #9166F0 8.77%, #633BBC 85.8%);  
                                border: 0;
                                transition: .5s;
                                color: #FFF;
                                font-family: Ubuntu, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 130%;                                            
                            }
                            button:hover{                           
                                background-color: #ffffff00;                            
                                background-position: 330px;
                                color: #FFF;
                                font-family: Ubuntu, sans-serif;
                                font-size: 18px; 
                                font-style: normal;
                                font-weight: 700;
                                line-height: 130%;
                            }
                        }
                        .service-card:hover{
                            transform: translateY(-5px);
                        }
                        #service-card-4{
                            h3{
                                width: 358px;
                            }
                        }
                    }
                }
            }
        }
        
        .footer{

        }
    }
}

.container{
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

@keyframes ticker {
    from{
        transform: translateZ(0);
    }
    to{
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes circle-anim{
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(0, -5%);
    }
    50%{
        transform: translate(10%, 10%);
    }
    75%{
        transform: translate(0%, 5%);
    }
    100%{
        transform: translate(0, 0, );
    }
}